<div class="header-chat">
  <div class="header-name">hogefuga</div>
  <div class="header-link">
  <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="center-chat">
   <div class="chat-main">
      <div class="top-name">
         <div class="chat-name">Tom</div>
         <div class="chat-date">2022/4/6 14:15</div>
      </div>
      <div class="chat-comment">おはよう</div>
   </div>
   <div class="chat-main2">
      <div class="top-name2">
         <div class="chat-name2">judy</div>
         <div class="chat-date2">2022/4/6 14:16</div>
      </div>
      <div class="chat-comment2">こんばんは</div>
   </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>