<div class="side-header">
  <div class="side-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="side-btn">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="side-chat">
 <% current_user.rooms.each do |room| %>
    <div class="chat">
      <div class="chat-btn">
        <a href="#"><%=techroom></a>
      </div>
    </div>
 <% end %>
</div>

  