<div class="side-header">
  <div class="side-name">
    <a href="#">Yuta</a>
  </div>
  <div class="side-btn">
    <a  href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-chat">
  <div class="chat-btn">
    <a href="#">techroom1</a>
    <a href="#">techroom2</a>
  </div>
</div>

  