.wrapper {
  display: flex;
}
.side-bar {
  background-color: #2F3E51;
  width: 300px;
  height: 100vh;
}
.side-header{
  height: 100px;
  width: 300px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.side-btn a{
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: lightblue 1px solid;
  text-decoration: none;
}
.side-chat{
  width: 300px;
  height:calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll
}
.room{
  padding: 20px 0 40px 0px;
}
.room-name a{
  text-decoration: none;
  color: white;
}
.chat{
  width: calc(100vw - 300px);
}
.header-chat{
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.header-name{
  font-size: 24px;
  color:#333;
  margin: 36px;
}
.header-link{
 margin-top: 40px;
}
.header-link a{
  padding:20px;
  color: darkred;
  border: darkred 1px solid ;
  text-decoration: none;
}
.center-chat{
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 40px;
  overflow: scroll;
}
.top-name{
  display: flex;
  padding-top: 10px;
}
.chat-name{
 font-size: 16px;
 color: #434A54;
 padding-right: 10px;
}
.chat-date{
  font-size: 12px;
  color: #999;
}
.chat-comment{
  font-size: 14px;
  color: #434A54;
  padding-top: 10px;
}
.top-name2{
  display: flex;
  padding-top: 10px;
}
.chat-name2{
  font-size: 16px;
  color: #434A54;
  padding-right:10px ;
}
.chat-date2{
  font-size: 12px;
  color: #999;
}
.chat-comment2{
  font-size: 14px;
  color: #434A54;
  padding-top: 10px;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}